.disk-icon {
  all: unset;
  background-color: $text;
  color: $surface0;
  border-radius: 1rem 0rem 0rem 1rem;
  font-size: 1.3rem;
  padding-left: 0.8rem;
  padding-right: 0.6rem;
}

.disk-status {
  all: unset;
  background-color: $surface0;
  border-radius: 0rem 1rem 1rem 0rem;
  border-right: 2px solid $text;
  border-top: 2px solid $text;
  border-bottom: 2px solid $text;
  color: $text;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}
